{% extends "base.html.twig" %}

    {% block body %}
        <h1>Les détails du produit</h1>
        <div class="row details" style=padding-top:30px;width:100%;display:flex;>
            <div clas="col-md-5 col-12">
               <img src="/assets/image/{{image}}" alt="">
            </div>
            <div clas="col-md-7 col-12">
                <h2>{{name}}</h2>
                <p>{{description}}</p>
                <p>
                    Catégorie (s) : 
                    {%for category in product.categories %}
                        <span class="badge text-bg-primary">{{category.name}}</span>
                    {% endfor %}
                </p>
                <a href="/panier/{{id}}" class="btn btn-block btn-success">Ajouter au panier</a>
                <a href="/" class="btn btn-block btn-primary">Retour Page Produits</a>
            </div>
        </div>

    {% endblock%}